*.class
*.ctxt
*.ear
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.mtj.tmp/
hs_err_pid*
replay_pid*
.gradle/
.idea/
.run/
build/classes
build/generated
build/idea-sandbox
build/instrumented
build/libs
build/patchedpluginxmlfiles
build/reports
build/resources
build/tmp
build/
